[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
setuptools = "*"
twine = "*"
wheel = "*"
django-rest-framework = "*"
factory-boy = "*"

[packages]
six = ">=1.0"
Django = ">=1.9"
pytest-django = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
