[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=1.9"
pytest-django = "*"
pytest-cov = "*"
django-rest-framework = "*"
factory-boy = "*"
flit = "*"
pytest = "*"
